html {

    background: url(../images/pexels-photo-924824.jpeg) no-repeat center center fixed;
    background-size: cover;
}

body {

    clear: both;
    font-family: Audiowide;
    background: url(../images/pexels-photo-924824.jpeg) no-repeat center center fixed;
    background-size: cover;

}

/* Nav Bar */

nav {
    border-bottom: rgb(115, 115, 243) solid 5px;
}

.navbar-brand {
    font-size: 1.75rem;
    background: rgb(115, 115, 243);


}

ul {
    font-size: 1.25rem;
}

.navbar-brand:hover {
    background: #f8f9fa;
}

li:hover {
    background: rgb(115, 115, 243);
}




/* content */



.card {
    margin-bottom: 50px;
    
}

.card-text {

    font-family: Roboto;
}

.btn,
.btn-primary {
    background: rgb(115, 115, 243) !important;
    border: rgb(115, 115, 243) solid 1px !important;
    font-family: Roboto;
}


.container {

    background: #f8f9fa;
    margin-top: 100px;
    padding: 20px;
    border: #eeeeee 5px solid;
}

/* footer */
.footer {
    background: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: auto;
    margin-bottom: 0;
    margin-top: 0;
    border-top: rgb(115, 115, 243) solid 5px;
}