body {
    background: rgb(115, 115, 243);
    clear: both;
}


a:hover {
    background: lightblue;
}

.background-image {
    margin-bottom: 10px;
    padding: 20px;
    background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background: #ffffff ;
    border: #eeeeee solid 5px;

}

h1 {

}

hr {
background: #eeeeee;
}

img {

    float: left;
    margin: 20px 20px 20px 0;
    border:#eeeeee solid 5px;
}

p {

    margin: 20px;
}

footer {
padding: 20px;
background: #ffffff;
text-align: center;
}