body {
    background: rgb(115, 115, 243);
    clear: both;
    font-family: Audiowide;
}

/* Nav Bar */
.navbar-brand {
    font-size: 1.75rem;
    background: rgb(115, 115, 243);
    
}

ul {
    font-size: 1.25rem;
}


a:hover {
    background: lightblue;
}

/* Background image */
.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

/* Content */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    background: #ffffff;
    border: #eeeeee solid 5px;

}

h1 {
   
}

hr {
    background: #eeeeee;
}

img {

    float: left;
    margin: 20px 20px 10px 0;
    border: #eeeeee solid 5px;
}

.text {

    margin-top: 40px;

}

p {
    font-family: Roboto;
    font-size: 20px;
}

/* footer */

footer {
    padding: 20px;
    background: #ffffff;
    text-align: center;
    border-top: rgb(115, 115, 243) solid 5px;
}

@media only screen and (max-width:325px) {
h1 {
    font-size: 2rem;
  
}

}



@media only screen and (max-width:472px) {

    .container {

        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        width: 175px;
    }

    p {
        font-size: 20px;
    }

}

@media only screen and (max-width:768px) {

.container {
padding-left: 10px;
    }
}





